
body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background: #f8f9fa;
}

.main-content {
  min-height: 80vh;
}

a {
  transition: 0.3s;
}

button {
  background: #0077b6;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background: #023e8a;
}

